*.orig
*.swn
*.swo
*.swp
.DS_Store
.VimballRecord
.netrwhist
.vim/bundle/
!.vim/bundle/Vundle.vim

# Emacs
*~
*#
.#*
auto-save-list
elpa
projectile-bookmarks.eld
quelpa
themes
.emacs.d/ido.last
.emacs.d/ac-comphist.dat
